* {
    margin: 0px;
    padding: 0px;
    font-family: Kdam Thmor Pro;
}
img{
    width: 170px;
}
#sky{
    width: 99.7%;
    border: solid;
    height: 20vh;
    background-image: url("https://cdn.pixabay.com/photo/2017/06/04/16/32/clouds-2371482_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.land{
    width: 99.7%;
    height: 20vh;
    border: solid;
    background-image: url("https://www.hummert.com/content/files/images/GrassSeed-banner.jpg");
}
.road1{
    border: dashed;
    background-color: black;
    width: 99.7%;
}
.road2{
    border: dashed;
    background-color: black;
    width: 99.7%;
}
h2{
    color: white;
}
button{
    background-color: darkorange;
    border-radius: 7px;
    padding: 2px;
}
button:hover{
    cursor: pointer;
    background-color: orange;
}

/* ------------- Media ---------------- */
@media screen and (max-width: 1746px) {
    img {
        width: 160px;
    }
}
@media screen and (max-width: 1620px) {
   img {
    width: 140px;
   } 
}
@media screen and (max-width: 1536px) {
    img {
        width: 138px;
    }
    .land {
        height: 19.7vh;
    }
}
@media screen and (max-width: 1400px) {
    img {
        width: 120px;
    }
    #sky {
        height: 21.5vh;
    }
    .land {
        height: 21vh;
    }
    button {
        font-size: 12px;
    }
}
@media screen and (max-width: 1280px) {
    img {
        width: 110px;
    }
    button {
        font-size: 10px;
    }
    .land {
        height: 22vh;
    }
    #sky {
        height: 22vh;
    }
}